---
layout: default
---
<!-- Nav -->
{% include navigation.html %}
<!-- Main -->
<div id="main">
	<!-- Home -->
	{% include home.html %}
	<article id="work" class="panel">
		<header>
			<h2>Work</h2>
		</header>
		<p>{{ site.workTagline }}</p>
		<section>
			<div class="row">

				{% for my_page in site.pages %}
					{% if my_page.title %}
				<div class="4u 12u$(mobile)">
					<a href="{{ my_page.url | prepend: site.baseurl }}" class="image fit"><img src="{{ my_page.featureImage }}" alt=""></a>
				</div>
					{% endif %}
				{% endfor %}
			</div>
		</section>
	</article>
	<!-- Contact -->
	{% include contact.html %}
</div>
<!-- Footer -->
{% include footer.html %}