<nav id="nav">
	<a href="#me" class="icon fa-home active"><span>Home</span></a>
	<a href="#work" class="icon fa-folder"><span>Work</span></a>
	<a href="#contact" class="icon fa-envelope"><span>Contact</span></a>
	{% if site.twitter %}
		<a href="https://twitter.com/{{ site.twitter }}" class="icon fa-twitter"><span>Twitter</span></a>
	{% endif %}
	{% if site.facebook %}
		<a href="https://www.facebook.com/{{ site.facebook }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        {% endif %}
        {% if site.instagram %}
		<a href="https://www.instagram.com/{{ site.instagram }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        {% endif %}
</nav>