<!DOCTYPE HTML>
<html>
	{% include head.html %}
	<body>
		<!-- Wrapper-->
		<div id="wrapper">
			<!-- Nav -->
			{% include navigation.html %}
			<!-- Main -->
			<div id="main">
				<!-- Home -->
				{% include home.html %}
				<!-- Work -->
				{{ content }}
				<!-- Contact -->
				{% include contact.html %}
			</div>
			<!-- Footer -->
			{% include footer.html %}
		</div>
		<!-- Scripts -->
		{% include scripts.html %}
	</body>
</html>



<article id="work" class="panel">
	<header>
		<h2>{{ post.title }}</h2>
	</header>
	<p>{{ post.tagline }}</p>
	<section>
		{{ content }}
	</section>
</article>